/*================= Générales ===========================*/

* {
  font-family: 'Raleway', sans-serif;
}

.fa {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/* =================== Header ============================*/

body {
  min-width: 375px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}

input::placeholder {
  color: black;
}

.logo-Booki {
  padding: 0 16px;
  width: 120px;
  height: 50px;
  margin-left: 15px;
}

.links-accommodation-and-activities { 
  display: flex;
}

.lien {
  padding: 32px;
  text-align: center;
  width: 50%;
  color: black;
  text-decoration: none;
  border-top: transparent 3px solid;
  border-bottom: transparent 3px solid;
}

.lien:hover{
  border-top: #0065FC 3px solid;
  color: #0065FC;
}

/*======================= main ============================*/

main {
  max-width: 1440px;
  margin: auto;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.research-title h1 {
  margin-top: 22px;
  margin-bottom: 8px;
  font-size: 22px;
}

.research-title p {
  margin-top: 8px;
  margin-bottom: 16px;
}

.research-bar {
  display: flex;
}

.research-bar-icon {
  background-color: #F2F2F2;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 16px 0 0 16px;
  text-align: center;
}

.research-bar-field {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
  width: 224px;
  font-size: 16px;
  font-weight: bold;
}

.research-bar-button {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border : none;
  border-radius: 0 16px 16px 0;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 16px;
  cursor: pointer;
}

.research-bar-lens {
  width: 50px;
  justify-content: center;
  background-color: #0065FC;
  color: white;
  border : none;
  border-radius: 16px 16px 16px 16px;
  font-size: 16px;
  cursor: pointer;
}

.research-filters {
  display: flex;
  margin-top: 32px;
  flex-wrap: wrap;
}

.economic-family {
  display: flex;
}

.research-filters-title {
  margin: 0 32px 16px 0;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.filter-box {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 16px;
  border: 2px solid #d9d9d9;
  border-radius: 32px;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
}

.filter-box:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: scale(1.05);
}

.filter-box-icon {
  background-color: #DEEBFF;
  color: #0065FC;
  border-radius: 100%;
  min-height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.filter-box-title {
  margin-right: 16px;
  margin-left: 16px;
  cursor: pointer;
  font-weight: bold;
}

.research-result {
  display: flex;
  align-items: center;
  margin: 16px 0 32px 0;
}

.research-result-icon {
  height: 32px;
  width: 32px;
  min-height: 32px;
  min-width: 32px;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  color: #0065FC;
}

.accommodation-in-marseille-and-more-popular {
  display: flex;
}

.accommodation-in-marseille {
  width: 871px;
  height: 612px;
  padding: 30px;
  background-color: #F2F2F2;
  border-radius: 20px;
  margin-right: 15px;
  position: relative;
  box-sizing: border-box;
}

.accommodation-in-marseille h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 30px;
}

.accommodation-in-marseille-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accommodation-in-marseille-show-more {
  position: absolute;
  bottom: 30px;
}

.accommodation-in-marseille-show-more-link {
  font-weight: bold;
  color: black;
  font-size: 120%;
  text-decoration: none;
}

.most-popular {
  width: 420px;
  height: 612px;
  padding: 32px 32px 0 32px;
  margin-left: 15px;
  background-color: #F2F2F2;
  border-radius: 20px;
  box-sizing: border-box;
}

.most-popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.most-popular-title h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

.activities-in-marseille {
  margin-top: 65px;
  margin-bottom: 65px;
}

.activities-in-marseille h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.activities-in-marseille-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activities-in-marseille-table-column-type-1 {
  width: 22%;
}

.activities-in-marseille-table-column-type-2 {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activities-in-marseille-table-column-type-3 {
  width: 22%;
}

.activities-in-marseille-table-column-type-4 {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  display: flex;
  background-color: #F2F2F2;
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

.footer-column {
  width: 30%;
  padding: 32px 32px;
  font-weight: 500;
  line-height: 2;
}

.footer-column h3 {
  margin: 0;
  line-height: 1;
}

.footer-column-list {
  list-style-type: none;
  padding-left: 0;
}

.footer-column-list-link {
  text-decoration: none;
  color: black;
}

.grey-star {
  /* color: #F2F2F2; */
  color: rgb(217, 217, 217);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.05);
}

.card p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: black;
}

.card h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: black;
}

.card-type-1 {
  width: 31%;
  height: 207px;
  padding: 5px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.card-type-2 {
  height: 144px;
  max-width: 343px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 33px;
}

.card-type-3 {
  height: 445px;
  position: relative;
  overflow: hidden;
}

.card-type-4 {
  width: 100%;
  height: 224px;
  position: relative;
  overflow: hidden;
}

.card-type-5 {
  width: 100%;
  height: 173px;
  position: relative;
  overflow: hidden;
}

.card-link {
  text-decoration: none;
  display: flex;
  height: 100%;
}

.card-type-1-picture-container {
  width: 100%;
  height: 60%;
  margin: 0;
}

.card-type-2-picture-container {
  /* width: 40%; */
  width: 137px;
  margin: 0;
}

.card-type-3-picture-container,
.card-type-4-picture-container,
.card-type-5-picture-container {
  width: 100%;
  margin: 0;
}

.card-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-type-1-picture {
  border-radius: 15px 15px 0 0;
}

.card-type-2-picture {
  border-radius: 15px 0 0 15px;
}

.card-type-1-text-container {
  padding: 4px 26px 11px 16px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-type-1-text-container h3 {
  margin: 0;
}

.card-type-2-text-container {
  width: 60%;
  padding: 12px 22px 10px 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-type-2-text-container h3 {
  margin: 0 0 12px 0;
}

.card-type-3-text-container {
  padding-left: 15px;
  width: inherit;
  position: absolute;
  bottom: 0;
  background-color: white;
}

.card-title {
  margin: revert;
  color: black;
  font-size: 100%;
}

/*======================== MEDIA QUERIES =======================*/

/*petites résolutions*/
@media screen and (max-width: 1285px) {
  .card h3 {
    font-size: 14px;
  }

  .card p {
    font-size: 12px;
  }

  .card-legend {
    font-size: 85%;
  }

  .card-type-1-text-container {
    padding: 4px 0px 11px 8px;
  }

  .card-type-3-text-container {
    padding-left: 6px;
  }
}

/*tablette (largeur > à 769px => on cache la loupe)*/
@media screen and (min-width: 769px) {
  .research-bar-lens {
    display: none;
  }
}

/* ======================= TABLETTES  ======================= */

@media screen and (max-width: 992px) {
  .accommodation-in-marseille-and-more-popular {
    flex-direction: column-reverse;
  }

  .accommodation-in-marseille {
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
    margin-right: 0;
    margin-top: 64px;
  }

  .most-popular {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .accommodation-in-marseille-show-more {
    position: relative;
    bottom: 0;
  }

  .activities-in-marseille-table-column-type-1,
  .activities-in-marseille-table-column-type-2 {
    width: 48%;
  }

  .activities-in-marseille-table-column-type-3,
  .activities-in-marseille-table-column-type-4 {
    width: 48%;
    margin-top: 35px;
  }

  .card-type-2 {
    max-width: none;
    margin-bottom: 15px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 14px;
  }

  .card-legend {
    font-size: 100%;
  }

  .card-type-3-text-container {
    padding-left: 15px;
  }
}

/* ======================= PORTABLES  ======================= */

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: stretch;
    margin-top: 25px;
  }

  main {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }

  footer {
    flex-direction: column;
    padding: 16px 32px;
  }

  .footer-column {
    width: 100%;
    padding: 0;
    margin: 16px 0;
  }

  .footer-column h3{
    margin: 0;
  }

  .logo-Booki {
    margin: auto;
    padding: 0;
  }

  .lien {
    padding: 32px 32px 16px 32px;
    text-align: center;
    width: 50%;
  }

  .lien:hover {
    border-top: transparent 3px solid;
    border-bottom: #0065FC 3px solid;
  }

  .research {
    /* solution 1 */
    padding: 0 20px;

    /* solution 2 (meilleur centrage) */
    /* width: 90%; */
    /* margin: auto; */
  }

  .research-title p {
    margin-top: 8px;
  }

  .research-bar {
    margin-top: 32px;
  }

  .research-bar-button {
    display: none;
  }

  .accommodation-in-marseille {
    padding: 35px 20px 20px 20px;
    margin-top: 0;
  }

  .accommodation-in-marseille h2 {
    margin-bottom: 15px;
  }

  .accommodation-in-marseille-card-container {
    flex-direction: column;
  }

  .accommodation-in-marseille-show-more {
    position: relative;
    margin-top: 24px;
    bottom: 0;
  }

  .activities-in-marseille h2 {
    margin-top: 0;
    margin-bottom: 18px;
  }

  .activities-in-marseille-table-column-type-1,
  .activities-in-marseille-table-column-type-2 {
    width: auto;
  }

  .activities-in-marseille-table-column-type-3,
  .activities-in-marseille-table-column-type-4 {
    width: auto;
    margin-top: 0;
  }

  .most-popular {
    padding: 20px;
    margin-left: 0;
    background-color: #F2F2F2;
    border-radius: 0;
  }

  .activities-in-marseille {
    padding-left: 20px;
    padding-right: 20px;
  }

  .activities-in-marseille-table {
    flex-direction: column;
    justify-content: flex-start;
  }

  .card-type-1 {
    width: auto;
    margin-top: 5px;
    margin-bottom: 7px;
  }

  .card-type-3,
  .card-type-4,
  .card-type-5 {
    height: 190px;
    margin-bottom: 12px;
    margin-top: 12px;
  }

  .card-type-1-text-container {
    font-size: 100%;
  }
}